body{
  background-color: #f2f2f2;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: blue;
  border-spacing: inherit;
  border-width: 7px;
  width: 5%;
}

.company-name
{
  font-family: cursive;
  color: #00004d;
  text-shadow: 2px 4px red;
}
.area
{
  font-family: cursive;
  color:#ff0000;
}
.name
{
  font-family: cursive;
  color: #004d4d;
  text-shadow: 2px 3px white;
}

.head
{
  font-style: italic;
  font-family: cursive;
}
.text{
  font-size: 20px;
}
h2
{
  font-style: italic;
  font-family: cursive;
  text-decoration: underline;
}
p{
    font-size: 20px;
}
.list
{
  font-size: 19px;
}
.Middle container
{
  margin: 100px 0;
  background-color: grey;
}

.Bottom container
{
  padding: 50px 0 20px;
  background-color: red;
}
